.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
}

.text-2 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.text-3 {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.text-4 {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
}
